<ion-content class="tpi4-content" [fullscreen]="true" scrollY="false">
  <div class="tpi4-root">
    <img class="tpi-logo" src="assets/branding/AppIcon-welcome.png" alt="" aria-hidden="true" />
    <header class="tpi4-top">
      <ion-progress-bar [value]="progressValue"></ion-progress-bar>
      <button type="button" class="tpi4-skip" (click)="onSkip()">{{ 'common.skip' | translate }}</button>
    </header>

    <main class="tpi4-main">
      <h1 class="tpi4-title">{{ 'tpi.step4.title' | translate }}</h1>

      <div class="tpi4-options">
        @for (option of options; track option) {
          <button type="button" class="tpi4-option" (click)="onSelect(option)">
            {{ ('tpi.step4.option.' + option) | translate }}
          </button>
        }
      </div>
    </main>
  </div>
</ion-content>
