ion-modal {
  --height: auto;

  align-items: end;
}

ion-picker {
  margin-bottom: var(--ion-safe-area-bottom);
}
.hint-text {
  display: block;
  margin: 6px 16px 0; /* هماهنگ با padding ion-item */
  line-height: 1.4;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}