<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelChanges()">{{ 'searchModal.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmChanges()">{{ 'searchModal.done' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchbarInput($event)" [placeholder]="'searchModal.searchPlaceholder' | translate"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding" fullscreen style="height: 100dvh;">
  <ion-list id="modal-list" [inset]="true">
    @if (filteredItems.length > 0) {
      @for (item of filteredItems; track item.value) {
      <ion-item button (click)="selectItem(item)" [class.selected]="isSelected(item.value)">
        <ion-label>{{ item.text }}</ion-label>
        @if (isSelected(item.value)) {
        <ion-icon name="checkmark" slot="end" color="primary"></ion-icon>
        }
      </ion-item>
      }
    } @else {
      <ion-item>
        <ion-label class="ion-text-center">
          <p>{{ 'searchModal.noItems' | translate }}</p>
          <p class="text-sm text-gray-500">{{ 'searchModal.noItemsHint' | translate }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
