/* From Uiverse.io by ke1221 */
ion-button {
  color: var(--ion-color-dark-contrast);
  width: 100%;
  margin: 0 20px 20px 20px;
  font-size: 18px;
  border-radius: 0.5em;
  background: var(--brand-surface);
  cursor: pointer;
  border: 1px solid var(--brand-surface);
  transition: all 0.3s;
  box-shadow:
    6px 6px 12px var(--brand-surface),
    -6px -6px 12px var(--brand-surface);
}

ion-button:active {
  color: var(--brand-text);
  box-shadow:
    inset 4px 4px 12px var(--brand-surface),
    inset -4px -4px 12px var(--brand-surface);
}
