

<app-side-menu></app-side-menu>

<ion-header class="modern-header">
  <div class="app-container">
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start" class="header-left">
        <ion-menu-button class="menu-button">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>

      <div slot="end" class="header-right">
        <ion-button
          fill="clear"
          class="header-action"
          (click)="openNotifications()"
        >
          <ion-icon name="notifications-outline"></ion-icon>
          @if (hasNotifications) {
            <div class="notification-badge">3</div>
          }
        </ion-button>

        <app-header-language-switcher></app-header-language-switcher>

        <ion-button fill="clear" class="header-action" (click)="openProfile()">
          <div class="profile-avatar">
            <img
              src="assets/images/user-avatar.png"
              alt="Profile"
              onerror="this.style.display = 'none'"
            />
            <ion-icon
              name="person-circle-outline"
              *ngIf="!hasUserAvatar"
            ></ion-icon>
          </div>
        </ion-button>
      </div>
    </ion-toolbar>
  </div>
</ion-header>
<ion-tabs id="main-content">
  <ion-tab tab="home">
    <div id="home-page" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Home Page</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="tab-page-content">
        <app-home></app-home>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="insights">
    <div id="insights-page" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Insights Page</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="tab-page-content">
        <app-insights></app-insights>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab tab="consultation">
    <div id="consultation-page" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Consultation Page</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="tab-page-content">
        <app-consultation></app-consultation>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="school">
    <div id="school-page" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>School Page</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="tab-page-content">
        <app-school></app-school>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <span class="tab-label">{{ "nav.home" | translate }}</span>
    </ion-tab-button>
    <ion-tab-button tab="insights">
      <ion-icon name="bulb-outline"></ion-icon>
      <span class="tab-label">{{ "nav.insights" | translate }}</span>
    </ion-tab-button>
    <ion-tab-button tab="consultation">
      <ion-icon name="calendar-outline"></ion-icon>
      <span class="tab-label">{{ "nav.consultation" | translate }}</span>
    </ion-tab-button>
    <ion-tab-button tab="school">
      <ion-icon name="school-outline"></ion-icon>
      <span class="tab-label">{{ "nav.school" | translate }}</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
