<ion-content>
  <div class="mx-4 px-4 pt-1 rounded-2xl shadow-lg ">
    <!-- Toggle Buttons -->
    <div class="flex mb-2 gap-3">
      <button
        type="button"
        (click)="activeTab = 'login'"
        [class.bg-blue-500]="activeTab === 'login'"
        [class.rounded-4xl]="activeTab === 'login'"
        [class.text-white]="activeTab === 'login'"
        class="form-submit-btn"
      >
        Login
      </button>
      <button
        type="button"
        (click)="activeTab = 'register'"
        [class.bg-blue-500]="activeTab === 'register'"
        [class.text-white]="activeTab === 'register'"
        class="form-submit-btn"
      >
        Register
      </button>
    </div>

    <!-- Login Form -->
    @if (activeTab === 'login') {
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-4">
      <div>
        <label class="block mb-1 text-sm font-medium">Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid)
        {
        <div class="text-red-500 text-xs mt-1">Please enter a valid email.</div>
        }
      </div>
      <!-- <button class="form-submit-btn" type="submit">Login</button> -->
      <ion-button type="submit" class="w-full">Login</ion-button>
    </form>

    <ion-toast
      [isOpen]="showToast"
      [message]="message"
      [duration]="3000"
      (didDismiss)="showToast = false"
      [buttons]="['OK']"
      [color]="success ? 'success' : 'danger'"
    >
    </ion-toast>
    }

    <!-- Register Form -->
    @if (activeTab === 'register') {
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
      class="space-y-4"
    >
      <h2 class="text-xl font-bold text-center">Create Account</h2>

      <div>
        <label class="block mb-1 text-sm font-medium">Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
        <div
          *ngIf="
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.invalid
          "
          class="text-red-500 text-xs mt-1"
        >
          Please enter a valid email.
        </div>
      </div>

      <div>
        <label class="block mb-1 text-sm font-medium">Phone</label>
        <input
          type="tel"
          formControlName="phone"
          placeholder="+60123456789"
          class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
        <div
          *ngIf="
            registerForm.get('phone')?.touched &&
            registerForm.get('phone')?.invalid
          "
          class="text-red-500 text-xs mt-1"
        >
          Please enter a valid phone number.
        </div>
      </div>

      <!-- <div>
        <label class="block mb-1 text-sm font-medium">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="********"
          class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
        <div
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
          class="text-red-500 text-xs mt-1"
        >
          Password must be at least 6 characters.
        </div>
      </div> -->

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="w-full py-2 h-10 bg-green-600 text-white rounded-lg hover:bg-green-700 transition disabled:opacity-50"
      >
        Sign Up
      </button>
    </form>
    }
  </div>
</ion-content>
