

.keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .keen-slider__slide {
    height: 200px;
  }
  ion-avatar {
    width: 80px;
    height: 80px;
  }
}
