<div class="category-selection-modal">
  
  <!-- Modal Header -->
  <div class="modal-header">
    <ion-button fill="clear" class="back-btn" (click)="goBack()">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
    
    <h2 class="modal-title">Choose category</h2>
    
    <!-- Empty space for centering -->
    <div class="header-spacer"></div>
  </div>

  <!-- Categories List -->
  <div class="categories-content">
    @for (category of categories; track category.id) {
      <div 
        class="category-item" 
        [class.selected]="isCategorySelected(category)"
        (click)="selectCategory(category)">
        
        <div class="category-info">
          <div class="category-icon">
            <ion-icon [name]="getCategoryIcon(category.id)"></ion-icon>
          </div>
          <div class="category-details">
            <span class="category-name">{{ category.name }}</span>
            @if (category.description) {
              <span class="category-description">{{ category.description }}</span>
            }
          </div>
        </div>
        
        @if (isCategorySelected(category)) {
          <ion-icon name="checkmark-circle" class="selected-icon"></ion-icon>
        }
      </div>
    }
  </div>

  <!-- Done Button -->
  <div class="modal-footer">
    <ion-button 
      [disabled]="!selectedCategory" 
      class="done-btn" 
      (click)="confirmSelection()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Done
    </ion-button>
  </div>

</div>